@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap');

body {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}

section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #FFB084;
    border-radius: 20px;
    width: 755px;
    height: 495px;
}

.grid_1 {
    background-color: white;
    box-shadow: 7px 7px 0px #000000;
    border-radius: 20px;
    grid-row-start: 1;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
    width: 250px;
    height: 319px;
    margin: 20px;
}

.grid_1_info {
    display: flex;
    font-size: 12px;
    color: black;
}

.info_1 {
    margin-right: 16px;
    margin-left: 30px;
}

.info_3 {
    font-size: 12px;
}

.grid_2 {
    background-color: #FFFFFF;
    width: 400px;
    height: 120px;
    font-size: 13px;
    box-shadow: 7px 7px 0px #000000;
    border-radius: 20px;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 4;
    margin-top: 20px;
    margin-left: 40px;
}

h3, p {
   margin-left: 30px;
}

.grid_3 {
    background-color: #FFFFFF;
    width: 189px;
    height: 101px;
    box-shadow: 7px 7px 0px #29A71E;
    border-radius: 20px;
    font-size: 12px;
    grid-column: 2/3;
    grid-row: 2/3;
    margin-left: 40px;
}

h3, li {
    margin-left: 30px;
}

.grid_4 {
    background-color: #FFFFFF;
    width: 189px;
    height: 165px;
    box-shadow: 7px 7px 0px #E13535;
    border-radius: 20px;
    font-size: 13px;
    color: #000000;
    grid-column: 3/4;
    grid-row: 2/4;
}

.grid_5 {
    background-color: #FFFFFF;
    width: 189px;
    height: 151px;
    box-shadow: 7px 7px 0px #3675B0;
    border-radius: 20px;
    font-size: 13px;
    grid-column: 2/3;
    grid-row: 3/5;
    margin-left: 40px;
}

.grid_6 {
    background-color: #FFFFFF;
    width: 250px;
    height: 62px;
    box-shadow: 7px 7px 0px #000000;
    border-radius: 20px;
    grid-column: 1/3;
    grid-row: 4/5;
    margin-left: 20px;
    margin-bottom: 30px;
}

.grid_7 {
    background-color: #FFFFFF;
    width: 189px;
    height: 89px;
    box-shadow: 7px 7px 0px #000000;
    border-radius: 20px;
    font-size: 12px;
    grid-column: 3/4;
    grid-row: 3/5;
    margin-top: 60px;
}