body {
    font-family: 'M PLUS 1', sans-serif;
    box-sizing: border-box;
    font-weight: 700;
}
.h1 {
    margin: 72px 0;
    font-size: 40px;
    font-weight: 700;
}

.line {
    width: 402px;
    border-bottom: 5px solid #3E45E8;
}

.line2 {
    width: 402px;
    border-bottom: 5px solid #3E45E8;
    margin: 0 auto;
}
.header {
    height: 110px;
    text-align: center;
    color: #3E45E8;
    font-size: 48px;
    padding: 25px;
    font-weight: 400;
}
.header-span {
    color: #E8C23E;
    margin: 10px;
    font-size: 48px;
    font-weight: 400;
}

.banner {
    height: 803px;
    background-image: url(./img/Ukraine.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 206px;
    box-sizing: border-box;
    padding-left: 80px;
}

.banner2 {
    background-image: url(./img/fon.png);
    width: 591px;
    height: 121px;
    margin: 0 auto;
}

.banner3 {
    margin-top: 31px;
    height: 320px;
    background-image: url(./img/fon2.png);
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
}
.content {
    padding-top: 0%;
    box-sizing: border-box;
    color: white;
    width: 100%;
    font-size: 48px;
    padding-left: 34px;
    background-repeat: no-repeat;
    height: 272px;
    background-image: url(./img/flag.png);
}

.content2 {
    padding-top: 0%;
    color: white;
    font-size: 64px;
}

.content3 {
    padding-top: 21px;
    font-size: 36px;
    color: #A89D9D;
    font-family: 'Marcellus SC', serif;
    font-weight: 400;
}
.main {
    padding: 0 80px;
}

.card {
    border: 1px solid black;
    width: 30%;
    color: #1E8DF2;
   display: inline-block;
   vertical-align: top;
   height: 481px;
   overflow: hidden;
   border-radius: 30px;
   box-shadow: 0px 4px 57px 3px rgba(0, 0, 0, 0.25);; 
}

.card2 {
    display: inline-block;
    vertical-align: top;

}
.card__image {
    width: 100%;
}
.card_margin {
    margin-left: 48.8px;
    margin-right: 48.8px;
}
.card__title {
    font-size: 24px;
    padding: 10px;
    box-sizing: border-box;
}
.card__subtitle {
    font-size: 20px;
    font-weight: 400;
    color: #E8C23E;
    padding: 10px;
    box-sizing: border-box;
}