@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,900&family=Poppins:wght@500;600&family=Roboto:wght@400;500&display=swap');

body {
    font-family: 'Merriweather', serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.page_1 {
    background-color: black;
    height: 773px;
   
}

.header {
    min-width: 800px;
    max-width: 1400px; 
    margin: 0 auto;
   display: flex;
}

.title_1 {
    font-size: 30px;
    color: #FFFFFF;
    padding-left: 200px;
    padding-top: 30px;
    padding-right: 650px;
}

.title_2 {
    font-size: 18px;
    color: #FFFFFF;
    padding-top: 30px;
    padding-right: 24px;
}

.title_3 {
    font-size: 18px;
    color: #FFFFFF;
    padding-top: 30px;
    padding-right: 24px;
}

.title_4 {
    font-size: 18px;
    color: #FFFFFF;
    padding-top: 30px;
}

.block_1 {
    display: flex;
    min-width: 800px;
    max-width: 1400px;
    margin: 0 auto;
}

.h1 {
    font-weight: 600;
    font-size: 54px;
    color: #FFFFFF;
    padding-top: 229px;
    padding-left: 200px;
}

.point {
    color: #F6AD09;
}

.content_1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #B2B2B2;
    padding-top: 32px;
    padding-left: 200px;
}

.button {
    font-weight: 600;
    width: 200px;
    padding: 1rem 0;
    background-color: #F6AD09;
    color: #332200;
    font-size: 18px;
    text-align: center;
    border-radius: 10px;
    margin-top: 51px;
    margin-left: 200px;
}

.bicycle_1 {
    padding-left: 50px;
}

.block_h2 {
    min-width: 800px;
    max-width: 1400px; 
    margin: 0 auto;
}

.h2 {
    font-weight: 600;
    font-size: 50px;
    color: black;
    padding-left: 200px;
    padding-top: 145px;
}

.card {
   display: flex;
   margin: 0 auto;
   min-width: 800px;
   max-width: 1400px; 
   
}

.card_title {
    font-weight: 600;
    font-size: 32px;
    padding-left: 10px;
}

.card_subtitle {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 18px;
    padding-left: 44px;
}

.card__image {
    width: 30%;
}
.card_2{
    margin-left: 40px;
    margin-right: 40px;
}

.border {
    width: 20px;
    margin-top: 17px;
    background-color: #F6AD09;
    border: 1px solid #F6AD09;
    margin-bottom: 17px;
    padding-right: 12px;
}

.flex{
    display: flex;
}

.page_2 {
    background-color: #111111;
    height: 947px;
    margin-top: 193px;
}

.block_2 {
    min-width: 800px;
    max-width: 1400px; 
    margin: 0 auto;
    display: flex;
}

.b2_title {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #B2B2B2;
    padding-left: 200px;
    padding-top: 81px;
}

.block_t2 {
    font-weight: 600;
    font-size: 54px;
    color: #FFFFFF;
    padding-top: 19px;
    padding-left: 200px;
    padding-bottom: 11px;
}

.b2_title_2 {
    font-weight: 600;
    font-size: 24px;
    color: #FFBB00;
    padding-top: 28px;
    padding-left: 200px;
}

.line {
    width: 268px;
    border-bottom: 4px solid #FFBB00;
}

.border_2 {
    width: 22px;
    margin-top: 73px;
    background-color: #F6AD09;
    border: 1px solid #F6AD09;
    margin-bottom: 13px;
    padding-right: 12px;
    margin-left: 200px;
}

.flex_title {
    color: #FFFFFF;
    font-size: 22px;
    padding-left: 10px;
    padding-top: 62px;
}

.flex_subtitle {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #B2B2B2;
    font-size: 14px;
    padding-left: 200px;
    padding-top: 16px;
}

.flex_text {
    display: flex;
    align-items: center;
}

.border_3 {
    width: 22px;
    margin-top: 73px;
    background-color: #F6AD09;
    border: 1px solid #F6AD09;
    margin-bottom: 13px;
    padding-right: 12px;
    margin-left: 43px;
}

.flex_title_2 {
    color: #FFFFFF;
    font-size: 22px;
    padding-left: 10px;
    padding-top: 62px;
}

.flex_subtitle_2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #B2B2B2;
    font-size: 14px;
    padding-left: 43px;
    padding-top: 16px;
}

.img_flex {
    margin-top: -87px;
}

.inform {
    width: 750px;
}

.block_h3 {
    font-weight: 600;
    font-size: 54px;
    color: #FFFFFF;
    padding-top: 19px;
    min-width: 800px;
    max-width: 1400px;
    margin: 0 auto;
    padding-bottom: 11px;
}

.icons {
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
}

.icon_1 {
    text-align: center;
    padding-top: 30px;
    box-sizing: border-box;
    border: 2px solid #E0E0E0;
    Width: 320px;
    height: 135px;
    margin: 10px;
}

.icon_2 {
    text-align: center;
    padding-top: 30px;
    box-sizing: border-box;
    border: 2px solid #E0E0E0;
    Width: 320px;
    height: 135px;
    margin: 10px;
}

.icon_3 {
    text-align: center;
    padding-top: 30px;
    box-sizing: border-box;
    border: 2px solid #E0E0E0;
    Width: 320px;
    height: 135px;
    margin: 10px;
}

.icon_4 {
    text-align: center;
    padding-top: 30px;
    box-sizing: border-box;
    border: 2px solid #E0E0E0;
    Width: 320px;
    height: 135px;
    margin: 10px;
}

.icon_5 {
    text-align: center;
    padding-top: 30px;
    box-sizing: border-box;
    border: 2px solid #E0E0E0;
    Width: 320px;
    height: 135px;
    margin: 10px;
}

.icon_6 {
    text-align: center;
    padding-top: 30px;
    box-sizing: border-box;
    border: 2px solid #E0E0E0;
    Width: 320px;
    height: 135px;
    margin: 10px;
}

.icon_7 {
    text-align: center;
    padding-top: 30px;
    box-sizing: border-box;
    border: 2px solid #E0E0E0;
    Width: 320px;
    height: 135px;
    margin: 10px;
}

.icon_8 {
    text-align: center;
    padding-top: 30px;
    box-sizing: border-box;
    border: 2px solid #E0E0E0;
    Width: 320px;
    height: 135px;
    margin: 10px;
}

.img_orange_fon {
    display: flex;
    min-width: 800px;
    max-width: 1400px;
    margin: 0 auto;
    margin-top: 108px;
}

.img_bicycle {
    width: 700px;
}

.orange_fon {
    width: 700px;
    overflow: hidden;
}

.orange_content {
    font-family: 'Merriweather', serif;
    font-weight: 900; font-style: italic;
    font-size: 32px;
    color: #332200;
    margin-top: -370px;
    margin-left: 5px;
}

.orange_name {
    font-weight: 600;
    margin-top: 17px;
    color: #664400;
    font-size: 20px;
}

.quotes_1 {
    font-family: 'Merriweather', serif;
    font-weight: 900; font-style: italic;
    font-size: 50px;
    color: rgba(0, 0, 0, 30%);
    margin-left: 70px;
    margin-top: -370px;
}

.quotes_2 {
    font-size: 50px;
    color: rgba(0, 0, 0, 30%);
}

.orange_flex{
    display: flex;
}

.black_fon {
    background-color: #161616;
    height: 737px;
    margin-top: -7px;
}

.confines {
    min-width: 800px;
    max-width: 1400px; 
    margin: 0 auto;
}

.card_suggestions {
    display: flex;
}

.prata:hover .card_sugg_1 {
    transform: scale(1.1);
}

.card_sugg_1{
    transition: transform 0.25s ;
}

.ouro:hover .card_sugg_2 {
    transform: scale(1.1);
}

.card_sugg_2{
    transition: transform 0.25s ;
}

.card_sugg_1 {
    background-color: #000000;
    box-sizing: border-box;
    height: 450px;
    width: 400px;
    margin-left: 270px;
    margin-top:  73px;
}

.card_sugg_2 {
    background-color: #000000;
    box-sizing: border-box;
    height: 450px;
    width: 400px;
    margin-left: 60px;
    margin-top:  73px;
}

.element{
    width: 15px;
    margin-top: 24px;
    background-color: #F6AD09;
    border: 1px solid #F6AD09;
    margin-left: 33px;
    margin-bottom: 10px;
}

.sugg_1_1 {
    display: flex;
}

.content_sugg {
    font-weight: 600;
    color: #9C9C9C;
    font-size: 30px;
    margin-left: 54px;
    margin-top: 33px;
}

.prata:hover .content_sugg {
    color: #F6AD09;
}

.ouro:hover .content_sugg {
    color: #F6AD09;
}

.content_sugg_2 {
    font-weight: 600;
    color: #FFFFFF;
    font-size: 30px;
    margin-left: 130px;
    margin-top: 33px;
}

.content_sugg_2_2 {
    font-weight: 600;
    color: #9C9C9C;
    font-size: 12px;
    margin-left: 50px;
}

.sugg_1_3 {
    display: flex;
}

.sugg_text_1_3_1 {
     font-family: 'Roboto', sans-serif;
     font-weight: 500;
     color: #FFFFFF;
     margin-top: 14px;
     font-size: 18px;
     padding-left: 6px;
}

.button_2 {
    font-weight: 600;
    width: 180px;
    padding: 1rem 0;
    background-color: #2E2E2E;
    color: #CCCCCC;
    font-size: 18px;
    text-align: center;
    border-radius: 5px;
    margin-top: 110px;
    margin-left: 54px;
}

.button_3 {
    font-weight: 600;
    width: 180px;
    padding: 1rem 0;
    background-color: #2E2E2E;
    color: #CCCCCC;
    font-size: 18px;
    text-align: center;
    border-radius: 5px;
    margin-top: 41px;
    margin-left: 54px;
}

.fon_end {
    background-color: #000000;
    height: 474px;
}

.parametr_end {
    display: flex;
    min-width: 800px;
    max-width: 1400px;
    margin: 0 auto;
}

.block_1_end {
    padding-left: 200px;
    padding-top: 56px;
}

.title_1_1_end {
    color: #FFFFFF;
    font-size: 36px;
    padding-bottom: 308px;
}

.title_1_2_end {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #9C9C9C;
    font-size: 18px;
}

.block_2_end {
    padding-left: 21px;
    padding-top: 66px;
}

.title_2_3_end {
    display: flex;
}

.title_2_1_end {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #FFFFFF;
    font-size: 24px;
}

.title_2_2_end {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #B2B2B2;
    margin-top: 31px;
}

.title_2_2_1_end {
    margin-bottom: 5px;
}

.title_2_2_2_end {
    margin-bottom: 31px;
}

.title_2_2_3_end {
    margin-bottom: 5px;
}

.title_2_2_4_end {
    margin-bottom: 20px;
}

.facebook {
    margin-left: 32px;
    margin-right: 32px;
}

.block_3_end {
    margin-top: 66px;
    margin-left: 230px;
}

.title_3_1_end {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #FFFFFF;

}

.title_3_2_end {
    margin-top: 31px;
    font-size: 18px;
    color: #B2B2B2;
}

.title_3_2_1_end {
    margin-bottom: 5px;
}

.title_3_2_2_end {
    margin-bottom: 5px;
}

.title_3_2_3_end {
    margin-bottom: 5px;
}

.title_3_2_1_end:hover {
    color: #F6AD09;
}

.title_3_2_2_end:hover {
    color: #F6AD09;
}

.title_3_2_3_end:hover {
    color: #F6AD09;
}

.title_3_2_4_end:hover {
    color: #F6AD09;
}