@import url('https://fonts.googleapis.com/css2?family=Rosario:ital,wght@0,700;1,600;1,700&display=swap');

@media screen and (min-width:768px) and (max-width: 992px) {
    header {
        font-size: 20px;
        max-width: 992px;
        min-width: 768px;
        position: sticky;
    }

    .screen_1, .screen_2, .screen_3, .screen_4 {
        max-width: 992px;
        min-width: 768px;
    }

    .screen_3_images > div {
            z-index: 2;
            position: relative;
            overflow: hidden;
            box-sizing: border-box;
            max-height: 45%;
            max-width: 41%;
    }

    .screen_3_1_img, .screen_3_2_img, .screen_3_3_img, .screen_3_4_img{
        flex: 300px;
        margin-bottom: 5%;
    }

    .screen_3_images {
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
    height: 72%;
    }
    
    .page {
        display: flex;
        flex-direction: column-reverse;
        height: 100%;
    }
 
    .screen_1_images {
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        height: 100%;
        flex-flow: row wrap;
        padding-top: 30px;
    }
    
    .screen_1_images > .block_1_img {

        width: 370px;
        animation-delay: 0s;
        margin-top: -100px;
    }
   
    .screen_1_images > .block_2_img {
        margin-right: 100px;
        margin-top: -10px;
        
    }
    
    .screen_1_images > .block_3_img {
        margin-right: 70px;
        margin-top: -70px;
    }
    
    .screen_1_images > .block_4_img {
        margin-right: 100px;
    }

}

@media screen and (max-width: 768px) {
    .screen_1, .screen_2, .screen_3, .screen_4 {
        max-width: 768px;
        min-width: 400px;
        font-size: 10px;
    }

    header{
        justify-content: flex-start;
        position: sticky;
        position: -webkit-sticky;
        overflow: hidden;
        margin: 0;
        font-size: 20px;
        max-width: 768px;
        min-width: 400px;
    }

    .screen_1 div {
        flex-direction: column;
        height: 100%;
    }
    .screen_1 {
        flex-direction: column;
        height: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .block_2_img {
        padding-top: 20px;
    }
    .screen_1 > div:nth-child(1){
        width: 410px;
        animation: first_media 4s cubic-bezier(0.24, 0.62, 0.57, 0.88) forwards;;
        animation-delay: 0.1s;
    }
    .screen_1 div:nth-child(2){
        width: 410px;
    }
    .screen_1 > div:nth-child(3){
        width: 410px;
        animation-delay: 3s;
    }
    .screen_1 div:nth-child(2) img {
        height: 350px;
        max-width: 410px;
        margin-right: 10px;
        padding-bottom: 20px;
        width: 100%;
        min-width: 200px;
    }
    .block_2_img {
        animation: none;
        transform: translateX(0vh);
    }
    .block_3_img {
        transform: translateX(0vh);
      }
    .block_2_img:first-child(1){
        animation: first_media 4s cubic-bezier(0.24, 0.62, 0.57, 0.88) forwards;
        animation-delay: 0.3s;
    }

    .screen_2_fon {
        display: none;
    }

    .screen_3_images {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }

    .screen_3_images > div {
        z-index: 2;
        position: relative;
        overflow: hidden;
        box-sizing: border-box;
        max-height: 380px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .screen_4_fon {
        display: flex;
        flex-direction: column-reverse;
        flex: 1 1 100%;
    }
    .screen_4_map {
        width: 100%;
    }
}


body {
    margin: 0;
    font-family: 'Rosario', sans-serif;
    font-weight: 700; font-style: italic;
}

header {
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 5;
    height: 10%;
}

.header_flex {
    display: flex;
    margin: 0 auto;
    /* max-width: 1620px; */
    /* min-width: 992px; */
}

.header_image {
    background-color: white;
    margin-right: 35%;
    height: 100%;
}

.header_title_1 {
    margin-top: 31px;
    margin-right: 2%;
    font-size: 30px;
    color: #FFFCFC;
}

.header_title {
    margin-top: 31px;
    margin-right: 2%;
    font-size: 30px;
    color: #FFFCFC;
}

.screen_2, .screen_3, .screen_4 {
    height: 100%;
    max-width: 1620px;
    min-width: 992px;
    margin: 0 auto;
}

.screen_1 {
    height: 86%;
    max-width: 1620px;
    min-width: 992px;
    margin: 0 auto;
    overflow: hidden;
}

.screen_1_images {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.block_1_img {
    margin-right: 1%;
    margin-left: 3%;
    margin-top: 8%;
}

.block_4_img {
    padding-right: 3%;
    margin-left: 1%;
    margin-top: 8%;
}

.block_2_img {
   margin-left: 3%;
   margin-top: 1.5%;
   margin-right: 105%;
}

.screen_1:hover .block_2_img {
    transform: translateX(215%);
    transition: all 1s linear;
}

.screen_1:hover .block_3_img {
    transform: translateX(-215%);
    transition: all 1s linear;
}

.screen_1:hover .block_1_img {
    transform: translateX(300%);
    transition: all 2s linear;
}

.screen_1:hover .block_4_img {
    transform: translateX(-260%);
    transition: all 2s linear;
}

.block_2_1_img {
    margin-top: 3%;
}

.block_3_img {
   margin-right: 3%; 
   margin-top: 1.5%;
}
  
.block_3_1_img {
    margin-top: 3%;
}

.img_1 {
    animation: animateImg1 10s linear 0s infinite forwards;
}

@keyframes animateImg1 {
    0% {
    }
    25% {
        transform: translateX(150%);
    }
    50%{
        transform: translate(150%, 100%);
    }
    75% {
        transform: translate(0, 100%);
    }
    100% {
        transform: translate(0, 0);
    }
}

.img_2 {
    animation: animateImg2 10s linear 0s infinite forwards;
}

@keyframes animateImg2 {
    0% {
    }
    25% {
        transform: translate(0%, 100%);
    }
    50%{
        transform: translate(-150%, 100%);
    }
    75% {
        transform: translate(-150%, 0%);
    }
    100% {
        transform: translate(0, 0);
    }
}

.img_3 {
    animation: animateImg3 10s linear 0s infinite forwards;
}

@keyframes animateImg3 {
    0% {
    }
    25% {
        transform: translate(0%, -100%);
    }
    50%{
        transform: translate(150%, -100%);
    }
    75% {
        transform: translate(150%, 0%);
    }
    100% {
        transform: translate(0, 0);
    }
}

.img_4 {
    animation: animateImg4 10s linear 0s infinite forwards;
}

@keyframes animateImg4 {
    0% {
    }
    25% {
        transform: translateX(-120%);
    }
    50%{
        transform: translate(-120%, -100%);
    }
    75% {
        transform: translate(10%, -100%);
    }
    100% {
        transform: translate(10%, 0%);
    }
}

.page {
    display: flex;
    margin-top: 7%;
}

.screen_2_images {
    width: 50%;
    align-self: center;
}

.block_1 {
    display: flex;
    justify-content: space-around;
    margin: 5px;
}

.img_1, .img_2 {
    margin-top: 10px;
}

.img_1_title {
    text-align: center;
    font-size: 40px;
}

.block_2 {
    display: flex;
    justify-content: space-around;
}

.screen_2_fon {
    flex: 1 1 50%;
    overflow: hidden;
}

h1 {
    font-weight: 700;
    font-size: 80px;
    text-align: center;
    margin-top: 7%;
    margin-bottom: 1%;
}

.screen_3_images {
    display: flex;
    justify-content: space-around;
    height: 70%;
}

.screen_3_images:hover > .screen_3_1_img {
    filter: brightness(.5);
}

.screen_3_images:hover > .screen_3_2_img {
    filter: brightness(.5);
}

.screen_3_images:hover > .screen_3_3_img {
    filter: brightness(.5);
}

.screen_3_images:hover > .screen_3_4_img {
    filter: brightness(.5);
}

.screen_3_images > .screen_3_1_img:hover {
    filter: none;
}

.screen_3_images > .screen_3_2_img:hover {
    filter: none;
}

.screen_3_images > .screen_3_3_img:hover {
    filter: none;
}

.screen_3_images > .screen_3_4_img:hover {
    filter: none;
}

.screen_3_images .screen_3_1_text {
    position: absolute;
    background: rgba(163, 83, 10, 0.7);
    bottom: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    font-size: 2rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: height 1s;
}

.screen_3_images > .screen_3_1_img:hover .screen_3_1_text {
    height: 100px;
}

.screen_3_images .screen_3_2_text {
    position: absolute;
    background: rgba(163, 83, 10, 0.7);
    bottom: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    font-size: 2rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: height 1s;
}

.screen_3_images > .screen_3_2_img:hover .screen_3_2_text {
    height: 100px;
}

.screen_3_images .screen_3_3_text {
    position: absolute;
    background: rgba(163, 83, 10, 0.7);
    bottom: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    font-size: 2rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: height 1s;
}

.screen_3_images > .screen_3_3_img:hover .screen_3_3_text {
    height: 100px;
}

.screen_3_images .screen_3_4_text {
    position: absolute;
    background: rgba(163, 83, 10, 0.7);
    bottom: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    font-size: 2rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: height 1s;
}

.screen_3_images > .screen_3_4_img:hover .screen_3_4_text {
    height: 100px;
}

.screen_3_1_img {
    background-image: url(./img/Rectangle8.png);
    background-size: 100%;
    width: 23%;
    height: 530px;
    position: relative;
    border-radius: 30px;
    overflow: hidden;
}

.screen_3_2_img {
    background-image: url(./img/Rectangle9.png);
    background-size: 100%;
    width: 23%;
    height: 530px;
    position: relative;
    border-radius: 30px;
    overflow: hidden;
}

.screen_3_3_img {
    background-image: url(./img/Rectangle10.png);
    background-size: 100%;
    width: 23%;
    height: 530px;
    position: relative;
    border-radius: 30px;
    overflow: hidden;
}

.screen_3_4_img {
    background-image: url(./img/Rectangle11.png);
    background-size: 100%;
    width: 23%;
    height: 530px;
    position: relative;
    border-radius: 30px;
    overflow: hidden;
}

.screen_4_fon {
    display: flex;
    margin-top: 9%;
}

.screen_4_map {
    margin-left: 2%;
}

h2 {
   font-size: 50px; 
   text-align: center;
   padding-right: 17%;
   margin-top: -1%;
}

.screen_4_block {
    width: 50%;
    margin-left: 7%; 
}

.screen_4_fon1 {
    width: 100%;
    height: 70%;
    background-color: #E5E5E5;
    box-sizing: border-box;
    margin-top: -4%;
}

.name_email {
    display: flex;
}

.name {
    width: 55%;
    height: 50px;
    margin-top: 5%;
    margin-left: 8%;
}

input {
    font-size: 20px;
    width: 90%;
    height: 100%;
}

.email {
    margin-right: 5%;
    width: 50%;
    margin-top: 5%;
}

.message {
    margin-top: 5%;
    margin-left: 8%;
    height: 40%;
}

input [type="message"] {
    margin-top: 5%;
}

.contact {
    display: flex;
    margin-left: 10%;
    margin-top: 3%;
    font-size: 19px;
    text-align: center;
    font-weight: 600; font-style: italic;
}

.contact_2 {
    margin-left: 14%;
    margin-right: 14%;
}

.inst, .facebook, .twitter {
    display: flex;
    margin-left: 13%;
    margin-top: 2%;
    
}

.inst_text, .twitter_text {
    margin-left: 5%;
}

.facebook {
    margin-left: 9%;
}
