@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@700&display=swap');

body {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 700;
}

.page {
    width: 100%;
    height: 959px;
    background: linear-gradient(to bottom right, #3E718E, #64969B);
}

.window {
    display: flex;
    margin: 0% auto;
    width: 1000px;
    height: 667px;
 padding-top: 110px ;
}

.fon_1 {
    background-color: #FFFFFF;
    width: 1000px;
    display: flex;  
}

.fon_1_title {
    font-size: 24px;
    background: linear-gradient(93.38deg, #496F74 -3.47%, #6E9195 35.61%, #2D4F61 84.29%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 32px;
    margin-top: 11,56px;
}

.title_2 {
    font-size: 20px;
    color: #000000;
    margin-top: 68px;
    margin-left: 172px;
}

input {
    width: 353px;
    border-radius: 4px;
    border: 1px solid #CCCCCC;
}

label {
    
    padding-top: 8px;
    font-size: 16px;
}

input {
    font-size: 12px;
}

input, label {
    margin-left: 99px;
    margin-bottom: 10px;
    font-weight: 400;
}

.comment {
    font-size: 10px;
    color: #A8A8A8A8;
    margin-left: 99px;
    margin-top: -10px;
}

.span1 {
    font-weight: 400;
    font-size: 12px;
    color: #A8A8A8A8;
}

.button {
    width: 355px;
    padding: 1rem 0;
    background-color: #284A5E;
    color: #FFFFFF;
    font-size: 16px;
    text-align: center;
    border-radius: 4px;
    margin-top: 140px;
    margin-left: 97px;
}

.login_flex {
    display: flex;
    text-align: center;
    margin-left: 190px;
    margin-top: 12px;
}

.title_1_login {
    color: #C4C4C4;
    font-size: 16px;
}

.title_2_login {
    color: #476D73;
    height: 24px;
    margin-left: 8px;
    text-decoration: underline;
}

.fon_2_image {
    width: 439px;
    height: 657px;
    margin-top: 5px;
    box-shadow: 20px 0px 10px 9px #4E7577;
    background-image: url(./img/right\ section.png);
}

.fon_2{
    overflow: hidden;
    width: 439px;
    padding-left: 123px;
    height: 667px;
}

.flex_image {
    display: flex;
    margin-left: 296px;
    margin-top: 8px;
}

.title_home {
    font-size: 16px;
    color: #FFFFFF;
}

.title_contact {
    font-size: 16px;
    color: #FFFFFF;
    margin-left: 24px;
}

.fon_text {
    font-size: 48px;
    color: #FFFFFF;
    margin-left: 62px;
    margin-top: 200px;
}

.fon_text_2 {
    font-size: 16px;
    color: #FFFFFF;
    margin-left: 62px;
    margin-top: 14px;
}

.image_white {
    background-image: url(./img/Stroke.png);
    height: 600px;
    width: 440px;
}