@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;1,700&display=swap');

html {
    font-size: 10px;
}

body{
    margin: 0;
    background-color: #DCDCDC;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
}

.page {
    background-color: #202846;
    height: 90px;
    display: flex;
    position: sticky;
    top: 0px;
    z-index: 1;
}

.title {
    color: #FFFFFF;
    font-size: 24px;
    padding-right: 2%;
    padding-left: 2%;
    padding-top: 18px;
    width: 170px;
    justify-content: center;
}

.title:hover {
    color: #AEAEE2;
}

.image {
 padding-left: 6%; 
 padding-right: 4%;
 padding-top: 10px;
}

.page_2 {
background-color: #C6C6DC;
width: 100%;
height: 140px;
}

.title_2 {
    font-size: 48px;
    color: #202846;
    padding-left: 227px;
    padding-top: 2%;
   
}

.page_3 {
    background-color: #E8E8E8;
    width: 60%;
    height: 73px;
    margin-left: 20%;
    margin-top: 56px;
    margin-bottom: 56px;
    display: flex;
}

.title_3 {
    font-size: 28px;
    color: #000000;
    text-align: center;
    padding-top: 18px;
    padding-left: 30%;
}

.click {
    padding-left: 30%;
    padding-top: 18px;
    font-size: 33px;
}

.build {
    width: 80%;
    margin: 0 auto;
}

.card {
    height: 300px;
    background-color: #BDBDC6;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    margin-bottom: 2rem;
}

.card__image {
    width: 35%;
    height: 80%;
    overflow: hidden;
}

.card__image img{
    height: 100%;
}

.card__content {
    width: 50%;
    height: 80%;
}

.card__content-title {
    font-weight: 700;
    font-style: italic;
    border-bottom: 3px solid white;
    font-size: 3.6rem;
    margin-bottom: 2rem;
}

.card__content-description {
   font-size: 2rem;
   text-align: center;
   background-color: #D7D7DD;
   padding: 2.2rem;
}

.card-star, .card-btn {
    position: absolute;
}

.card-star {
    right: 1rem;
    top: 1rem;
}
.card-btn {
    bottom: 0;
    right: -40px;
    width: 200px;
    padding: 1rem 0;
    background-color: #202846;
    color: white;
    text-decoration: none;
    font-size: 24px;
    text-align: center;
    border-radius: 50px;
}

.card:hover {
background-color: #AEAEE2;
}

.card-star:hover{
    background: #FFFF00;
}

.card-btn:hover{
    background-color: #EF075B;
}

.page_4{
    background-color: #C6C6DC;
    width: 100%;
    height: 140px;
    margin-top: 231px;
}

#fixed-div {
    position: fixed;
    bottom: 5%;
    right: 1%;
    width: 101px;
}

#fixed-div:hover {
    background-color: #202846;
    border-radius: 50%;
}

.info {
    background-color: #BDBDC6;
    width: 1318px;
    height: 498px;
    margin-top: 53px;
    margin-left: 10%;
    display: flex;
    justify-content: space-evenly;
    position: relative;
}

.info_card {
    padding-top: 77px;
}

.info_image {
    padding-left: 20%;
}

.info_avatar {
    width: 300px;
    padding: 1rem 0;
    background-color: #69749B;
    color: #FFFFFF;
    font-size: 24px;
    text-align: center;
    border-radius: 50px;
    margin-top: 38px;
    margin-left: 5%;
}

.info_settings {
    width: 300px;
    padding: 1rem 0;
    background-color: #484A54;
    color: #FFFFFF;
    font-size: 24px;
    text-align: center;
    border-radius: 50px;
    margin-top: 22px;
    margin-left: 5%;
}

.info_biography {
    font-size: 36px;
    color: #353C57;
    padding-top: 46px;
    border-bottom: 3px solid #FFFFFF;
}

.info_biography_2 {
    font-weight: 700;
    font-style: italic;
}

.button {
    width: 200px;
    padding: 1rem 0;
    background-color: #202846;
    color: #FFFFFF;
    font-size: 27px;
    text-align: center;
    border-radius: 50px;
    margin-top: 40px;
    margin-left: 45%;
}

.contacts_flex {
    display: flex;
    justify-content: space-evenly;
    position: relative;
}

.contacts {
    width: 17%;
    font-size: 32px;
    padding-top: 63px; 
    border-bottom: 3px solid #202846;
   
}

.contacts2 {
    font-size: 32px;
    padding-top: 63px; 
    border-bottom: 3px solid #202846;
    width: 17%;
    margin-left: 5%;
}

.contacts3 {
    width: 15%;
    font-size: 32px;
    padding-top: 63px; 
    border-bottom: 3px solid #202846;
}

.contacts_lower {
    display: flex;
    justify-content: space-evenly;
    position: relative;
}

.lower_1 {
    width: 17%;
    font-size: 30px;
}

.lower_2 {
    padding-left: 3%;
    text-align: center;
    width: 17%;
    font-size: 30px; 
}

.lower_3 {
    text-align: center;
    width: 15%;
    font-size: 30px; 
}

.address {
    justify-content: space-evenly;
    position: relative;
    padding-bottom: 64px;
}

.address_0 {
    padding-right: 5%;
    margin-left: 12%;
    width: 20%;
    font-size: 32px;
    padding-top: 63px; 
    border-bottom: 3px solid #202846;
}

.address_1 {
    margin-left: 5%;
    width: 30%;
    font-size: 30px;
    padding-left: 8%;
}

.address_map {
    display: flex;
    
}

.map {
    width: 40%;
    margin-left: 10%;
    text-align: center;
}

.page_end {
    background-color: #202846;
    height: 90px;
}

.holiday {
    font-size: 36px;
    color: #EEECF1; 
    padding-top: 21px;
    padding-left: 10%;
    font-style: italic;
}